@import url("https://fonts.googleapis.com/css?family=Quicksand");

//Variables
$black: black;
$white: white;
$blue: #0F73DB;
$yellow: #bfed37;
$table-color: rgba(191, 237, 55, 0.5);
$grey: #f5f5f6;
$font-size-s: 10px;
$font-size-m: 13px;
$font-size-l: 15px;
$font-size-xxl: 30px;

//Content
* {
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  background-color: $grey;
  font-family: "Quicksand", serif;
  //background-image: url("https://images.pexels.com/photos/533189/pexels-photo-533189.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

h1 {
  color: $blue;
  font-size: $font-size-xxl;
  text-align: center;
}

// .title-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-plus {
  font-size: $font-size-l;
}

.btn-container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: $white;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  padding-top: 5px;
  box-shadow: 0 0 15px $blue;
}

.column .column-title {
  font-size: $font-size-l;
  text-align: left;
  margin: 7px;
}

.column-add-card {
  height: 60px;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  width: 50%;
  font-size: $font-size-s;
  font-family: "Quicksand", "Arial", sans-serif;
  transition: all 0.3s linear;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}

.card-list {
  height: 100%;
  padding-left: 0;
  background-color: $white;
}

.card {
  background-color: $grey;
  margin-top: 8px;
  font-size: $font-size-m;
  list-style-type: none;
  padding: 10px 5px;
  box-shadow: 0 0 5px $blue;
}

.card-description {
  margin-top: 0px;
}

.btn-delete {
  font-size: $font-size-s;
  border-radius: 3px;
  float: right;
  //height: 20px;
  width: 40px;
  //margin: 5px auto;
  font-family: "Quicksand", "Arial", sans-serif;
  font-weight: 900;
  border: none;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s linear;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}

.btn-delete-column {
  height: 40px;
  width: 40px;
  margin-left: 90%;
  //border-radius: 50%;
  border: none;
  background-color: transparent;
  //float: right;
  transition: all 0.3s linear;
  font-family: "Quicksand", "Arial", sans-serif;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}

.create-column {
  cursor: pointer;
  font-size: $font-size-m;
  font-family: "Quicksand", "Arial", sans-serif;
  border-radius: 5px;
  background-color: transparent;
  color: $blue;
  border: none;
  width: 80px;
  height: 40px;
  //margin: 0 auto;
  float: right;
  transition: all 0.3s linear;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}
